<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>


<body>
    <br><br>
    <div class="container">
        <h1 style="text-align:center">Categories of the vehicles available</h1>
        <br><br>
        <div class="cards cat" style="padding-left: 5rem;">
            <div class="cards wrapper">
                <img class="card-img-bottom" src="assets/Ambulance.jpg" routerLink="/ambulance" alt="Card image"><br><br>
                <div class="card-body">
                    <p class="card-text">Ambulances
                    </p>
                </div>
            </div>
            <div class="cards wrapper" >
                <img class="card-img-bottom" src="assets/bus.jpg" routerLink="/largecars" alt="Card image"><br><br>
                <div class="card-body">
                    <p class="card-text">Large Vehicles & Buses
                    </p>
                </div>
            </div>
        </div>
        <div class="cards cat" style="padding-left: 5rem;">
            <div class="cards wrapper">
                <img class="card-img-bottom" src="assets/mid-size.jpg" routerLink="/midcars" alt="Card image"><br><br>
                <div class="card-body">
                    <p class="card-text">Mid-size & small vehicles
                    </p>
                </div>
            </div>
            <div class="cards wrapper ">
                <img class="card-img-bottom" src="assets/sports.jpg" routerLink="/smallcars" alt="Card image"><br><br>
                <div class="card-body">
                    <p class="card-text">Sports car
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</body>

</html>