<div class="container-fluid" style="background-color:rgb(170, 159, 159);
">
    <br>

    <div class="row" style="margin-left:30%">
        <aside class="col-sm-6">
            <p style="text-align:center;"><b>MAKE YOUR PAYMENTS HERE</b></p>

            <article class="card">
                <div class="card-body p-5">

                    <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#mpesa">
                                <i class="fa fa-credit-card"></i> Mpesa</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="mpesa">
                            <form role="form">
                                <div class="form-group">
                                    <label for="cardNumber"><b>HOW TO PAY USING M-PESA</b></label>
                                    <dl class="param">
                                        <dd>Go to M-pesa <br> Lipa na M-Pesa <br>Pay Bill <br> Business number :
                                            <b>777 777</b> <br> Account Number : <b>PRICELINE</b></dd>
                                    </dl>

                                </div>
                                <button class="subscribe btn btn-primary btn-block" type="button"> Confirm </button>
                            </form>
                        </div>

                    </div>

                </div>
            </article>
        </aside>
    </div>
<br>
</div>