<div class="container-fluid" style="background-color:rgb(170, 159, 159);
">
    <h2 style="text-align:center">Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="width:15rem; margin-left:45%">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input type="password" formControlName="password2" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password2.errors }" />
            <div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
                <div *ngIf="f.password2.errors.required">Password is required</div>
                <div *ngIf="f.password2.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">
                Register
            </button>
        </div>
        <div>
            <small class="text-muted">
                <b>Already have an account? </b> <a routerLink="/login">Sign In</a>
            </small>
        </div>
    </form>
    <br>
</div>